.tags-automation {
  background: linear-gradient(180deg, #a9a3c247, #a9a3c226);
  position: relative;
  width: 100%;
  z-index: 10;
}
.none-liner-tag-automation {
  background: #a9a3c247 !important;
}
.tags-boxes {
  display: flex;
}
.magical-borders-content > *::before {
  background: radial-gradient(
    var(--circle-size, 600px) circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 15;
}
.magical-borders-content > *::after {
  background: radial-gradient(
    var(--circle-size, 600px) circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
.magical-borders-content > *::before,
.magical-borders-content > *::after {
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
}
.magical-borders-content > * .magical-borders-inner {
  flex-grow: 1;
  background-color: #0a0118;
  z-index: 2;
}
.tags-automation-inner {
  isolation: isolate;
  overflow: hidden;
  background: linear-gradient(180deg, #0b021700 22.69%, #16092a33);
}
