@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: #0a0118;
}
.css-heading {
  width: 30%;
  @media screen and (max-width: 760px) {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}
.css-heading:hover {
  width: 40%;
  @media screen and (max-width: 760px) {
    width: 60%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.grid1 {
  background-color: #ffffff;
}
.grid2 {
  background-color: #abb2bf;
}
.grid3 {
  background-color: #c778dd;
}
.grid4 {
  background-color: #ad6636;
}
.hover-text:hover {
  text-decoration: underline;
  color: #c778dd !important;
  cursor: pointer;
}
#header::before {
  background: linear-gradient(90deg, #fff0, #ffffff29, #fff0);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
#overview {
  .item1 {
    width: calc(40% - 16px);
    @media screen and (max-width: 1000px) {
      width: calc(50% - 8px);
    }
    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }
  .item2 {
    width: calc(60% - 16px);
    display: flex;
    padding-left: 2rem;
    @media screen and (max-width: 1000px) {
      width: calc(50% - 8px);
      justify-content: flex-end;
    }
    @media screen and (max-width: 960px) {
      width: 100%;
      justify-content: center;
      padding-left: 0px;
    }
  }
  .animation-caro {
    transform: rotate(90deg);
    width: 60%;
    @media screen and (max-width: 1000px) {
      width: 90%;
    }
    @media screen and (max-width: 960px) {
      width: 60%;
    }
    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }
}
#tools {
  .overlay::before {
    left: 0;
    top: 0;
  }
  .overlay::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .overlay::before,
  .overlay::after {
    background: linear-gradient(to right, rgba(10, 1, 24, 1), rgba(10, 1, 24, 0));
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
  }
}
#skills {
  .skill-link-container:hover {
    cursor: pointer;
    .skill-star-icon {
      path {
        fill: #c778dd;
      }
    }
    .skill-link-text {
      text-decoration: underline;
      color: #c778dd !important;
    }
  }
}
#certification {
  .credential-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .credential-container-item {
    width: calc(50% - 8px);
    @media screen and (max-width: 965px) {
      width: 100%;
    }
  }
  .credential-info-component {
    display: initial;
    @media screen and (max-width: 450px) {
      display: none;
    }
  }
  .credential-info-component-small {
    display: none;
    @media screen and (max-width: 450px) {
      display: initial;
    }
  }
  .credential-item {
    display: flex;
  }
  .credential-item-item1 {
    width: 48px;
    margin-right: 1rem;
  }
  .credential-item-item2 {
    width: calc(100% - 64px);
  }
}
